:root{
  --nav-background-color:black;
  --nav-background-shade:rgba(0,0,0,0.5);
  --nav-circle-color:rgb(70,70,70);
  --nav-circle-shade:rgba(0,0,0,0.4);
  --box-size : 150px;
  --shuffle-active-color:invert(44%) sepia(91%) saturate(533%) hue-rotate(92deg) brightness(95%) contrast(97%);
}
* {
  margin: 0;
  padding: 0;
  /* box-sizing:border-box; */
}
body {
  /* background-color: black; */
  background-color: rgb(18, 18, 18);
  font-family: "Helvetica Neue", helvetica, arial, "Hiragino Kaku Gothic ProN",
    "MS Gothic";
  color: white;
  box-sizing: border-box; 
}
header .navbar-one {
  padding: 5px 15px;
  display: flex;
  /* display: none; */
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 43px;
  background-color: var(--nav-background-color);
  z-index: 20;
}
header .navbar-one::before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--nav-background-shade);
  z-index: -1;
}
header img {
  filter: invert(1);
}
header .navbar-one .left {
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
  width: 100%;
  max-width: 320px;
}
header .navbar-one .left .mob-logo{
  height: 25px;
}
header .navbar-one .search-icon-container {
  border: none;
  display: flex;
  align-items: center;
  background-color:var(--nav-circle-color);
  /* background-color: rgb(217, 60, 45) ; */
  height: 38px;
  width: 38px;
  /* margin: 3px; */
  border-radius: 35px;
  justify-content: center;
  position: relative;
  z-index: 20;
}
header .navbar-one .search-icon-container::before{
  content: "";
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:var(--nav-circle-shade);
  z-index: -1;
}
header .navbar-one .search-icon-container .mob-search-input{
  background-color: transparent;
  color: white;
  border: none;
  display: none;
}
header .navbar-one .search-icon-container .mob-search-input::placeholder{
  color: rgb(199, 199, 199);
}
header .navbar-one .search-icon-container .mob-search-input:focus{
  outline: none;
  border: none;
}
header .navbar-one .left .search-icon {
  height: 20px;
}
header .navbar-one .mob-lib-icon-btn{
  background-color: var(--nav-circle-color);
  border: none;
  border-radius: 50%;
  height: 38px;
  /* margin: 3px; */
  min-width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 20;
}
header .navbar-one .mob-lib-icon-btn::before{
  content: "";
  position: absolute;
  border-radius: inherit;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:var(--nav-circle-shade);
  z-index: -1;
}
header .navbar-one .search-icon-container:hover .search-icon,header .navbar-one .mob-lib-icon-btn:hover .mob-lib-icon{
  height: 21px;
}
header .navbar-one .search-icon-container:hover::before,header .navbar-one .mob-lib-icon-btn:hover::before{
  background-color: rgba(255,255,255,0.0001);
}
header .navbar-one .left .mob-lib-icon{
  height: 20px;
}
/* .lib-icon-active{
  display: none;
} */
header .navbar-one .right {
  display: flex;
  align-items: center;
  gap: 0.8125em;
}
.sign-up-one{
  display: none;
  background-color: transparent;
  border: none;
  border-radius: 40px;
  color:white;
  font-weight: 700;
  /* margin: 0 10px; */
  padding: 10px;
  min-width: 90px;
}
.open-app-btn {
  border: none;
  background-color: white;
  height: 33px;
  padding: 0 20px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 14px;
  min-width: 85px;
}
.ham-container {
  background-color: transparent;
  border: none;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hamburger {
  height: 23px;
  background-color: transparent;
}

/*----------second-navbar-----------*/
header .navbar-two {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 8vw; /*65px - 4.0625rem*/
  max-height: 65px;
  min-height: 43px;
  display: none;
  align-items: center;
  padding: 0 30px; /*170px*/
  justify-content: space-between;
  background-color: black;
  gap: clamp(0.9375em, 1.875em, 3.4375em);
  /*(15px, 30px, 55px)*/
  z-index: 100;
}
header .navbar-two .nav-second-sec {
  display: flex;
  align-items: center;
  gap: 0.3125em; /*5px*/
  width: 100%;
  max-width:1000px;
  margin-right: 40px;
  /* min-width: 180px; */
}
header .navbar-two .logo-2 {
  height: 30px; /*35px 2.1875rem*/
}
header .navbar-two .left-icons {
  display: flex;
  gap: 0.5em; /*8px*/
  /* width: 100%; */
}
header .navbar-two .left-icon-container {
  border: none;
  background-color: rgb(38, 38, 38);
  border-radius: 50%;
  height: 35px; /*48px*/
  width: 35px;
  min-width: 35px;
  gap: 0.625em; /*0.625em*/
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}
header .navbar-two .left-icon {
  height: 21px; /*22px*/
  width: 21px;
}
header .navbar-two .left-icon-container:hover {
  background-color: rgb(65, 65, 65);
}
header .navbar-two .left-icon-container:hover .left-icon{
  transform: scale(1.1);
}
.nav-third-sec{
  display: flex;
  align-items: center;
  gap: 22px;
}
header .navbar-two .search-bar-container {
  display: flex;
  background-color: rgb(38, 38, 38);
  flex-grow: 1;
  align-items: center;
  height: 35px; /*48px*/
  border-radius: 1.5rem; /*24px*/
  max-width: 180px;
  transition: all 0.5s ease;
}
header .navbar-two .search-bar-container:hover{
  background-color: rgb(65, 65, 65);
}
header .navbar-two .search-bar-container:hover .left-icon-container{
  background-color: rgb(65, 65, 65);
}

header .navbar-two .search-bar-container:hover .left-icon{
  transform: scale(1.1);
}
header .navbar-two .search-bar {
  display: none;
}
header .navbar-two .search-bar input {
  width: 100%;
  height: 25px;
  max-width: 800px;
  min-width: 0.625em;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 14px;
}
header .navbar-two .search-bar input::placeholder{
  color: rgb(199, 199, 199);
  font-size: 15px;
}
header .navbar-two .search-bar input:focus {
  outline: none;
}
header .navbar-two .search-bar-container:has(input:focus){
  outline: 2px solid white;
}
header .navbar-two .search-bar .search-line {
  height: 1.6875rem; /*27px*/
  width: 0.006em;
  background-color: rgb(179, 179, 179);
}
header .navbar-two .search-wrapper-btn{
  background-color: transparent;
  border:none;
}
header .navbar-two .search-bar img {
  padding-left: 15px; /*20px*/
  height: 24px; /*23px*/
  filter: invert(70.2%);
}
header .navbar-two .left-links {
  display: none;
  position: relative;
  margin-left: -20px;
  /* padding-right:1.875em; 30px */
}
header .navbar-two .left-links ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0.625em; /*0.625em*/
  color: #b3b3b3;
  font-weight: 700;
  padding: 0.3125em; /*5px*/
  transition: all 0.8s ease-in-out;
  height: 100%;
}
header .navbar-two .left-links li {
  /* width: 4.375rem; 70px */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 15px;
  transition: all 0.3s ease-in-out;
  height: 100%;
  padding: 0.625em 0; /*0.625em*/
  margin: 4px;
}
/* header .navbar-two .left-links li:nth-child(2) {
  width: 3.75rem; /*60px
  justify-content: flex-start;
} */
header .navbar-two .left-links li:hover {
  color: white;
  font-size: 1.0625rem; /*17px*/
  cursor: pointer;
  margin: 0;
}
header .navbar-two .left-links .nav-line {
  position: absolute;
  background-color: white;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 70%;
  width: 1px;
}
header .navbar-two .app-download-btn {
  border: none;
  color: #adadad;
  background-color: transparent;
  padding: 0.625em 0.8125em; /* 10 - 13*/
  font-weight: 700;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 0.3125em; /*5px*/
  width: 105px;
  margin-right: -25px;
  /* width:7.8125rem; */ /*125px*/
}
header .navbar-two .app-download-btn img {
  height: 1.25rem; /*20*/
  filter: invert(0);
}
header .navbar-two .right-btn-container {
  display: flex;
  gap: 0.9375em; /*15*/
}
header .navbar-two .sign-up-btn {
  background-color: transparent;
  border: none;
  color: rgb(245, 245, 245);
  padding: 0.625em 0; /*10*/
  font-weight: 700;
  width: 5rem; /*80*/
}
header .navbar-two .log-in-btn {
  background-color: white;
  border: none;
  height: 38px; /*48*/
  width: 80px; /*100*/
  font-size: 0.9em;
  font-weight: 700;
  border-radius: 2.5rem; /*40*/
}
/*-----------second-ham-------------*/
header .ham-container-two {
  position: relative;
  display: block;
}
header .ham-container-two img {
  height: 1.5625rem; /*25*/
}
header .ham-container-two .second-ham-btn {
  background-color: transparent;
  border: none;
  height: 1.875rem; /*30*/
  width: 1.875rem;
}
header .ham-container-two .second-ham-items {
  position: fixed;
  right: 10.9375rem;
  top: 4.0625rem;
  z-index: -5;
  background-color: rgb(50, 50, 50);
  padding: 0 1.25em; /*20*/
  width: 9.375rem; /*150*/
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  height: 0;
  border-radius: 0.4375rem; /*7*/
}
header .second-ham-items.second-ham-active {
  padding: 1.25em; /*20*/
  height: 5.625rem; /*90*/
}
header .ham-container-two .second-ham-items ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.9375em; /*15*/
}
/*-------------search-card-----------*/
.search-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  background-color: rgb(18, 18, 18);
  z-index: 20;
  padding-bottom: 20px;
  display: none;
}
.search-page.page-active {
  display: block;
}
.search-page-bar {
  width: 90%;
  margin: 50px auto 0 auto;
}
.search-page-bar div {
  display: flex;
  justify-content: space-between;
}
.search-page-bar .search-back-btn{
  background-color: transparent;
  border: none;
  padding: 0 20px;
}
.search-page-bar .search-back-btn img{
  filter: invert(1);
  height: 30px;
}
.sp-input-cont {
  background-color: white;
  position: relative;
  height: 40px;
  width: 100%;
  border-radius: 5px;
  margin-top: 15px;
}
.sp-input-cont img {
  height: 23px;
  position: absolute;
  filter: invert(0);
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}
.sp-input-cont input {
  height: 100%;
  width: 70%;
  border: none;
  outline: none;
  background-color: transparent;
  margin-left: 47px;
  font-size: 17px;
}
.sp-input-cont input::placeholder {
  color:rgb(32,32,32);
}
.search-page h3{
  width:90%;
  margin: 20px auto 35px auto;
}
.search-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  gap:17px;
}
.search-card {
  position: relative;
  overflow: hidden;
  height: 25vw;
  width: 100%;
  border-radius: 5px;
}
.search-card img {
  position: absolute;
  /* height: 70px; */
  height: 75%;
  right: -20px;
  bottom: 0;
  transform: rotate(30deg);
}
.search-card p {
  width:80px;
  font-weight: 500;
  margin-top: 12px;
  margin-left: 0.625em;
}
/*--------display-control-----------*/
.lib-icon-active{
  display: none;
}
.lib-display .lib-icon-default{
  display: none;
}
.lib-display .lib-icon-active{
  display: block;
}
/*-----------main-body-------------*/
.main-body{
  display: flex;
  flex-direction: column;
  /* margin-top: 53px; */
  height: calc(78vh+55px);
  box-sizing: border-box;
}
/*--------main-left-section---------*/
main{
  /* margin-top: clamp(43px,7vw,55px); */
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.left-section-wrapper{
  background-color: black;
  position:fixed;
  top:51px;
  left: -100%;
  bottom: 0;
  height: 100%;
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
  padding-top: 5px;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}
.left-section-wrapper.library-active{
  left: 0;
}
.main-left-section{
  width: 95%;
  background-color: rgb(18, 18, 18); 
  border-radius: 10px;
  height: 90%;
  box-sizing: border-box;
} 
.main-left-section .library-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 19px;
  height: 70px;
  position: relative;
  width: auto;
}
.main-left-section .library-top::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 20px;
  background: var(--library-gradient,transparent) ;
}
.main-left-section .library-top h3{
  font-size: 15px;
}
.main-left-section .library-top img{
  height: 16px;
  width: 16px;
  filter: invert(1);
}
.main-left-section .library-top .lib-add-btn{
  background-color: transparent;
  border: none;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items:center ;
}
.main-left-section .library-top .lib-add-btn:hover{
  background-color: rgb(31, 31, 31);
}
.main-left-section .library-body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85%;
  box-sizing: border-box;
  overflow: hidden;
}
.main-left-section .lib-body-top{
  overflow: auto;
  position: relative;
  scrollbar-width:none;
  -ms-overflow-style:none;
}
.main-left-section .lib-body-top::-webkit-scrollbar{
  display: none;
}
.main-left-section .lib-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 0 auto 10px auto;
  position: sticky;
  top: 0;
  left: 0;
  width: 93%;
  background: linear-gradient(rgb(217, 60, 45) 0%, transparent 100%);
  font-size: 17px;
  font-weight: 600;
  height: 50px;
  border-radius: 7px;
  overflow: hidden;
  box-sizing: border-box;
}
.main-left-section .lib-nav:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--nav-background-shade);
  z-index: -1;
}
.main-left-section .library-card-container{
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  overflow-y: hidden;
  height: 70%;
  /* height: 185px; */
  padding:13px 0;
  padding: 8px;
}
.main-left-section .lib-body-top .lib-Playlists-wrapper{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  overflow: auto;
}
.main-left-section .library-card-container:hover{
  overflow-y: auto;
  padding-right: 0;
}
.main-left-section .library-card-container::-webkit-scrollbar{
  width: 12px;
}
.main-left-section .library-card-container::-webkit-scrollbar-track{
  background: transparent;
}
.main-left-section .library-card-container::-webkit-scrollbar-thumb{
  background: rgb(100, 100, 100);
}
.main-left-section .library-card-container::-webkit-scrollbar-thumb:hover{
  background: rgb(143, 143, 143);
}
.main-left-section .library-card{
  background-color: rgb(31, 31, 31);
  padding: 18px;
  border-radius: 12px;
}
.main-left-section .library-card h4{
  font-weight: 700;
  font-size: 15px;
}
.main-left-section .library-card p{
  font-weight: 600;
  font-size: 13px;
  margin-top: 13px;
  margin-bottom: 18px;
}
.main-left-section .library-card .library-btn{
  border: none;
  background-color: white;
  color: rgb(16, 16, 16);
  padding: 8px 15px;
  border-radius: 50px;
  font-weight: 800;
  font-size: 12px;
}
.library-bottom{
  padding: 5px 15px;
}
.library-bottom .footer-links-two div{
  row-gap: 15px;
}
.library-bottom .footer-links-two a{
  font-size: 11px;
}
.library-bottom .footer-links-two p{
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 40px;
}
.library-bottom .lang-btn {
  font-weight: 800;
  font-size: 12px;
}
/*--------main-right-section---------*/
.main-right-section {
  box-sizing: border-box;
  width: 100%;
  /* background-color: yellow;
  position: relative;
  z-index: 1000; */
}
.main-right-section::-webkit-scrollbar{
  width: 13px;
}
.main-right-section::-webkit-scrollbar-track{
  background: transparent;
}
.main-right-section::-webkit-scrollbar-thumb{
  background: rgb(100, 100, 100);
}
.main-right-section::-webkit-scrollbar-thumb:hover{
  background: rgb(143, 143, 143);
}
.main-right-section .song-section{
  margin-top: 30px;
}
.main-right-section .song-section h3{
  margin-bottom:13px;
  padding-left: 17px;
}
.main-right-section .song-section .song-items{
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0 17px;
}
.main-right-section .song-section .song-items::-webkit-scrollbar{
  display: none;
}
.main-right-section .song-section .song-card{
  padding: 8px;
  border-radius: 5px;
  max-width: var(--box-size);
}
.main-right-section .song-section .song-card:hover{
  /* background-color:rgb(35,35,35); */
  background: linear-gradient(to top,rgb(35,35,35),transparent);
}
.main-right-section .song-section .song-title{
  max-width: 140px;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top:10px;
}
.main-right-section .song-section .song-img{
  position: relative;
  /* overflow: hidden; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main-right-section .song-section .song-img .single-song-cover.round{
  border-radius: 50%;
}
.main-right-section .song-section .song-img .single-song-cover{
  height:var(--box-size);
  /* width: 150px; */
  aspect-ratio: 1/1;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  box-shadow: 0 3px 15px rgb(5, 5, 5);
}
.play-btn-hover{
  background-color: rgb(30, 215, 96);
  height: 46px;
  width: 46px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -10px;
  right: 10px;
  opacity: 0;
  transition: all 0.2s ease-in ;
}
.play-btn-hover img{
  height: 27px;
}
.main-right-section .song-section .song-card:hover .play-btn-hover{
  bottom: 15px;
  opacity: 1;
}
.right-footer-links{
  width: 100%;
}
.main-right-section .song-section .song-img .playlist-song-cover{
  height: var(--box-size);
  width: var(--box-size);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}
.playlist-cover{
  height: 50%;
  width: 50%;
  border-radius: 0;
}
.main-songs-container.songs-display{
  display: none;
}
.main-songs-container{
  display: block;
}
/*-----------mobile-hamMenu---------*/
.navbar-one .mobile-ham-items{
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: black;
  padding: 70px 45px;
  list-style: none;
  z-index: 100;/*dont forget to change navbar-one z-index*/
  transition: all 0.6s ease-in-out;
}
.navbar-one .mobile-ham-items.mobile-ham-active{
  right: 0;
}
.navbar-one .ham-top-links{
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin-bottom: 35px;
}
.navbar-one .ham-top-links a{
  text-decoration: none;
  color:white;
  font-size: 18px;
  font-weight: 650;
}
.navbar-one .ham-bottom-links{
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  margin-top:30px;
}
.navbar-one .ham-bottom-links a{
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-weight: 650;
}
.navbar-one .mobile-ham-close{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  height: 30px;
  width: 40px;
}
.navbar-one .mobile-ham-close img{
  height: 20px;
  filter: invert(0);
}
/*------------footer-------------*/
footer{
  padding: 17px;
  margin-top:25px;
}
footer .footer-links-one{
  display: grid;
  grid-template-columns: 1fr;
  gap: 35px;
}
footer .footer-links-one div{
  display: flex;
  flex-direction: column;
  gap: 13px;
}
footer .footer-links-one div p{
  font-weight: 600;
  font-size: 15px; 
}
footer .footer-links-one div a{
  text-decoration: none;
  color: rgb(183,183,183);
  font-size: 14px;
} 

footer .footer-list{
  display: flex;
  gap: 13px;
  margin-bottom: 38px;
  /* margin: 38px 0; */
}
footer .footer-list li{
  height: 33px;
  width: 33px; 
  background-color: rgb(37,37,37);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
footer img{
  height:14px;
  filter: invert(1);
}
footer .footer-line{
  height: 1px;
  width: 100%;
  margin-bottom: 40px;
  background-color:rgba(73,73,73,0.601);
}
.footer-links-two{
  padding: 35px 0;
  max-width: 300px;
}
.footer-links-two div{
  display: flex;
  flex-wrap: wrap;
  column-gap: 17px;
  row-gap: 13px;
}
.footer-links-two div a{
  text-decoration: none;
  color: rgb(183,183,183);
  font-size: 13px;
}
.lang-btn{
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(76,76,76,0.878);
  border-radius: 15px;
  color: rgb(219,219,219);
  font-weight: 600;
  padding: 0 12px;
  margin-top:15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.lang-btn img{
  height: 15px;
  filter: invert(1);
}

/* .lap-footer>a{
  text-decoration: none;
  color:rgb(183,183,183) ;
  font-size: 14px;
} */

/*-----------sign-up-free-----------*/
.footer-sign-up{
  background: linear-gradient(to right,#a0258b,#519bf5);
  margin: 8px;
  padding: 6px;
  display: none;
  align-items: center;
  justify-content: space-between;
}
.footer-sign-up .f-sign-up-content{
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  padding: 7px 15px;
}
.footer-sign-up .f-sign-up-content h5{
  font-weight: 650;
  font-size: 17px;
}
.footer-sign-up .f-sign-up-content p{
  font-size: 13px;
}
.footer-sign-up .sign-up-free-btn{
  border: none;
  background-color: white;
  height: 45px;
  padding: 0 25px;
  font-size: 14px;
  font-weight: 650;
  border-radius: 35px;
  margin-right: 13px;
}
/*-----------left-playlist---------*/
.playlist{
  display: flex;
  column-gap:12px;
  align-items: center;
  width: 85%;
  margin: 5px auto;
}
.playlist .list-img{
  height: 65px;
  width: 65px;
  display: flex;
  flex-wrap: wrap;
}
.playlist .liked-folder-img{
  height:100% ;
  width: 100%;
}
.playlist .list-content{
  width: 70%;
}
.playlist .list-content p{
  font-size: 17px;
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.playlist .list-second-row{
  margin-top: 5px;
  font-size: 13px;
  color: rgba(255,255,255,0.7);
}
.song{
  display: flex;
  column-gap:12px;
  align-items: center;
  margin: auto;
  width: 90%;
}
.song .song-img-wrapper{
  min-width: 45px;
  height: 45px;
  width: 45px;
  border-radius: 4px;
  overflow: hidden;
}
.song .song-img{
  height: 100%;
  width: 100%;
}
.song .song-content{
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.song .song-content p{
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.song .song-content span{
  display: flex;
  gap: 5px;
  font-size: 12px;
  color: rgba(255,255,255,.5);
}
.song .song-content .explicit-wrap{
  height: 13px;
  width: 13px;
  border-radius: 2px;
  background-color: rgba(255,255,255,.7);
  color: black;
  font-weight: 700;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*-----------home-song-page----------*/
.main-right-section .home-songs-wrapper{
  position: relative;
}
.main-right-section .songs-top{
  background: linear-gradient(rgb(217, 60, 45) 0%, transparent 100%);
  box-sizing: border-box;
  /* height: 400px; */
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -60px;
}
.song-list-back-btn{
  background-color: transparent;
  border: none;
  position: absolute;
  top:10px;
  left: 15px;
}
.song-list-back-btn img{
  filter: invert(1);
  height: 26px;
}
.main-right-section .song-list-nav{
  background-color: rgb(217, 60, 45);
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 10px;
  position: sticky;
  top: 53px;
  right: 0;
  z-index: 5;
  opacity: 0;
  /* visibility: hidden; */
  /* overflow: hidden; */
  pointer-events: none;
  /* display: none; */
}
.main-right-section .song-list-nav:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top,rgba(0,0,0,0.45) 0,rgba(0,0,0,0.3) 100%);
  z-index: -1;
}
.main-right-section .song-list-nav.song-list-nav-active{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
  pointer-events: auto;
}
.main-right-section .song-list-nav p{
  font-size: 23px;
  font-weight: 700;
}
.main-right-section .song-list-nav .song-list-back-btn{
  position: static;
}
.song-list-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 10px;
}
.main-right-section .song-list-img-wrapper{
  display: flex;
  position: relative;
  height: 280px;
  /* height: 480px; */
  margin-top:50px;
  /* margin-top:20px; */
  /* background-color: yellow; */
  /* padding-bottom:100px  */;
}
.main-right-section .song-list-img{
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  width: 150px;
  aspect-ratio: 1/1;
  border-radius: 2px;
  margin-top: 20px;
  filter: drop-shadow(0 0 18.3529px rgba(0,0,0,.3));
  /* overflow: hidden; */
  position: sticky;
  top: 65px;
  opacity: 1;
}
.main-right-section .song-list-info{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 90%;
  margin: 0 auto;
  row-gap: 10px;
}
.main-right-section .song-list-info p{
  font-size: 24px;
  font-weight: 700;
}
.main-right-section .song-list-by{
  display: flex;
  align-items: center;
  column-gap:8px;
}
.main-right-section .song-list-profile-pic{
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.main-right-section .song-list-duration{
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 13px;
  color: rgb(171,171,171);
}
.main-right-section .duration-img{
  height: 16px;
  filter: invert(85%) brightness(80%);
}
.song-play-btn{
  height: 52px;
  width: 52px;
  position: static;
  opacity: 1;
}
.song-play-btn img{
  height: 30px;
}
.main-right-section .song-list-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-right-section .song-list-left{
  display: flex;
  justify-content: space-between;
  column-gap: 8px;
}
.main-right-section .song-list-left .song-list-front{
  background-color: black;
  outline: 2px solid #adadad;
  border-radius: 5px;
  height: 43px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.main-right-section .song-list-left .song-list-front-img{
  height: 87%;
  width: 90%;
  object-fit: cover;
  object-position: cover;
}
.main-right-section .song-list-left button{
  background-color: transparent;
  /* background -color: red;*/
  height: 37px;
  width: 37px;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-right-section .song-list-left .song-list-download{
  height: 20px;
}
.main-right-section .song-list-left .song-list-user{
  height: 25px;
  filter: invert(85%) brightness(80%);
}
.main-right-section .song-list-left .song-list-dots{
  height: 25px;
  transform: rotate(90deg);
  filter: invert(85%) brightness(80%);
}
.main-right-section .song-list-right{
  display: flex;
  align-items: center;
  /* column-gap: 15px; */
}
.main-right-section .song-list-shuffle-pic{
  /* filter: invert(0); */
  height: 35px;
  filter: var(--shuffle-active-color);
}
.lib-nav .song-list-back-btn{
  position: static;
}
/*------------song-bar--------------*/
.song-bar{
  position: fixed;
  bottom: 5px;
  right: 50%;
  transform: translateX(50%);
  width: 90%;
  background-color: var(--song-accent-color,rgb(18,18,18));
  border-radius: 7px;
  display: flex;
  column-gap: 12px;
  align-items: center;
  padding: 9px 25px 9px 9px;
  z-index: 50;
}
.song-bar::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.4);
  z-index: -1;
}
.song-bar .song-bar-img{
  height: 43px;
  border-radius: 5px;
}
.song-bar .song-bar-info{
  max-width: 65%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}
.song-bar-marquee {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap:40px;
}
.song-bar .bar-song-title{
  display: flex;
  flex-shrink: 0;
  font-size: 15px;
  font-weight: 600;
}
.marquee-active{
  animation: marquee 5s linear infinite;
  animation-delay: 1s;
}
@keyframes marquee {
  to {
    transform: translateX(calc(-100% - 40px));
  }
}

.song-bar span{
  font-size: 13px;
  color: rgba(255,255,255,0.7);
}
.song-bar .song-bar-icons{
  display: flex;
  margin-left: auto;
}
.song-bar .song-bar-play img{
  height: 30px;
  filter: invert(1);
}
.play{
  display: none;
}
.song-bar-play-toggle .play{
  display: block;
}
.song-bar-play-toggle .pause{
  display: none;
}
.song-bar .song-bar-progress{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 95%;
  transform: translateX(-50%);
  height: 2px;
  background-color: rgba(255,255,255,0.129);
  border-radius: 4px;
  overflow: hidden;
}
.song-bar .song-bar-progress::before{
  content: "";
  height: 100%;
  position: absolute;
  width: var(--song-progress-percent,0%);
  left: 0;
  background-color: white;
}
/*----------song-page------------*/
.song-page-container-js{
  position: fixed;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: red;
  transition: top 0.6s ease-in-out;
}
.song-page-active{
  top: 0;
}
.song-page{
  height: 100%;
  width: 100%;
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--song-accent-color);
  background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.7) 80%);
  box-sizing: border-box;
}
.song-page .song-page-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.song-page .song-page-down,.song-page .song-page-dots{
  background-color: transparent;
  border: none;
}
.song-page .song-top-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  row-gap: 3px;
}
.song-page .song-page-down-img{
  filter: invert(1);
  height: 23px;
}
.song-page .song-page-dots-img{
  filter: invert(1);
  height: 23px;
  transform: rotate(90deg);
}
.song-page .song-page-main-imgwrap{
  height: clamp(150px,82vw,450px);
  /* width: clamp(150px,82vw,450px); */
  aspect-ratio: 1/1;
  /* height: 310px;
  width: 310px; */
  border-radius: 15px;
  overflow: hidden;
  margin-top: 50px;
}
.song-page .song-page-main-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position:center;
}
.song-page .song-page-bottom{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  padding: 0 15px;
}
.song-page .song-page-titles{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.song-page .song-page-titles p{
  font-size: 20px;
  font-weight: 600;
}
.song-page .like-btn{
  height: 53px;
  width: 53px;
  min-width: 53px;
  border-radius: 50%;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.song-page .like-btn .like-icon{
  font-size: 30px;
  color: #d8d8d8;
  transition: transform 0.2s ease-in-out;
}
.song-page .like-btn .like-icon.like-active{
  color: rgb(30, 215, 96);
}
.song-page .like-btn .like-icon.like-size{
  transform: scale(1.2);
}
.song-page .song-page-titles span{
  font-size: 16px;
  color: rgba(255,255,255,0.7);
}
.song-page .song-page-info{
  display: flex;
  flex-direction: column;
  gap: 5px;
  /* width: 85%; */
}
.song-page .song-page-seekbar-container{
  margin-top: 20px;
}
.song-page .song-page-seekbar{
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: rgba(255,255,255,0.2);
  position: relative;
}
.song-page .song-page-seekbar-active{
  position: absolute;
  width: var(--song-progress-percent);
  height: 100%;
  background-color: white;
  border-radius: 5px;
}
.song-page .song-page-seekbar-active::before{
  content: "";
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  right: -4px;
  transform: translateY(-50%);
  box-shadow: 0 0 5px black;
}
.song-page .time-container{
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.song-page .time-container span{
  font-size: 12px;
  color: rgba(255,255,255,0.5);
}
.song-page .song-page-play-line{
  display: flex;
  justify-content: space-between;
  align-items:center;
  margin-top: 20px;
}
.song-page .song-page-shuffle,.song-page .song-page-series{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.song-page .song-page-shuffle-img{
  filter: var(--shuffle-active-color);
  height: 25px;
}
.song-page .play-section{
  display: flex;
  width: 55%;
  justify-content: space-between;
  align-items: center;
}
.song-page .previous-img,.song-page .next-img{
  filter: invert(1);
  height: 30px;
}
.song-page .song-page-previous-btn,.song-page .song-page-next-btn{
  background-color: transparent;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.song-page .song-page-play-btn{
  background-color: white;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border:none;
}
.song-page-play-img{
  height: 28px;
}
.song-page .song-page-series-img{
  height: 25px;
  filter: invert(1);
}
.song-page .song-page-footer-line{
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}
.song-page .song-page-share-button{
  background-color: transparent;
  border: none;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.song-page .song-page-share-img{
  filter: invert(1);
  height: 20px;
}