@media screen and (min-width:462px){
  .sign-up-one{
    display: block;
  }
  header .navbar-one .search-icon-container {
    background-color: rgb(38, 38, 38);
  }
}
@media screen and (min-width:608px){
  header .navbar-two .logo-2 {
    height: 28px;
  }
  header .navbar-two .left-icon-container {
    height: 38px;
    width: 38;
    min-width: 38px;
  }
  header .navbar-two .search-bar-container {
    height: 40px; 
  }
}
@media screen and (min-width:640px){
  header .navbar-one {
    display: none;
  }
  header .navbar-two {
    display: flex;
  }
  .mobile-footer{
    display: none;
  }
  .lap-footer{
    display: block;
  }
  .right-footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    /* align-items: flex-start; */
  }
}
@media screen and (min-width:686px){
  header .navbar-two .logo-2 {
    height: 33px;
  }
  header .navbar-two .left-icon-container {
    height: 43px;
    width: 43px;
    min-width: 43px;
  }
  header .navbar-two .search-bar-container {
    height: 43px; 
  }
  header .navbar-two .log-in-btn {
    height: 40px; 
    width: 90px; 
  }
}
@media screen and (min-width: 748px){
  header .navbar-two .nav-second-sec {
    margin-right: 100px;
  }
}
@media screen and (min-width:768px){
  header .navbar-two .logo-2 {
    height: 35px;
  }
  header .navbar-two .left-icon-container {
    height: 48px;
    width: 48px;
    min-width: 48px;
  }
  header .navbar-two .left-icon{
    height: 24px;
    width: 24px;
  }
  header .navbar-two .search-bar-container {
    height: 3rem; 
  }
  header .navbar-two .log-in-btn {
    height: 3rem; /*48*/
    width: 6.25rem; /*100*/
  }
}
@media screen and (min-width: 858px) {
  header .navbar-two .left-links {
    display:flex;
    padding-right: 20px; /*30px*/
  }
  header .ham-container-two{
    display:none;
  }
  header .navbar-two .nav-second-sec {
    margin-right: 0;
  }
}
@media screen and (min-width: 1054px) {
  header .navbar-two .left-icons {
    width: 100%;
  }
  header .navbar-two .search-bar-container {
    width: 100%;
    padding-right: 17px;
  }
  header .navbar-two .search-bar {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
}
@media screen and (min-width:1072px){
  .right-footer .footer-links-one{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
